body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

.header {
    background: linear-gradient(90deg, #198754, #20c997);
    color: white;
    padding: 25px;
    border-radius: 10px;
}

.card {
    border-radius: 12px;
}

table {
    background-color: white;
}

th {
    background-color: #198754;
    color: white;
    text-align: center;
}

td {
    text-align: center;
}

button {
    padding: 10px 25px;
    font-size: 18px;
}
