body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(120deg,#d4fc79,#96e6a1);
display:flex;
}

.sidebar{
width:220px;
background:#1b5e20;
color:white;
height:100vh;
padding:20px;
}

.main{
flex:1;
padding:40px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
width:350px;
}

input{
width:90%;
padding:10px;
margin:6px;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:#2e7d32;
color:white;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
}

.result-card{
margin-top:20px;
background:white;
padding:20px;
border-radius:12px;
width:350px;
}

.loader{
display:none;
color:#1b5e20;
font-weight:bold;
margin-top:10px;
}